*{
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
html{
    background-color: pink;
    display: inline-block;
    background-image: radial-gradient(pink, purple);
}
.sus{
    background-color: black;
    text-align: center;

}
.eu{
    text-align: center;
}
.title{
     color:yellow;
    background-color: chartreuse;
    padding: 20px;
    text-align: center;
    border: 7px dotted yellowgreen;

}
.subtitle{
    color:yellow;
    background-color: chartreuse;
    grid-area: auto;
}


.scurt{
    
    border-radius: 20px;
    margin: 7px;
    color: green;

}
.categorie{
    text-align: center;
    text-shadow: #FFD700;
    text-decoration-color: aliceblue;
    background: aliceblue;
}
.descriere{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-indent: 50px;
}

#crest{
    height: 200px ;
    width: 200px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background: black;
    border-radius: 15px;
    overflow: hidden;
}

th, td {
    padding: 15px;
    border-bottom: 3px solid black;
}


.text{
    color: green;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 60px,60px,60px,60px;
    margin: 60px;
}

.contact{
    font-size: 40px;
}
#form{
    background-color: #FFD700;
}
#teams{
    background-color: aquamarine;
    color: white;
}


footer {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 25px;
    border-top: 3px solid #FFD700;
}
details {
    background: yellow;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    width: 320px;
    text-align: center;
  }

  summary {
    color: forestgreen;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    list-style: none;
    font-size: 16px;
  }

  summary:hover {
    background-color: green;
  }

  form {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input {
    width: 90%;
    padding: 8px;
    margin: 6px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
  }

  button {
    background-color: yellow;
    color:green;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    width: 95%;
    font-size: 16px;
    margin: 10px;
  }

  button:hover {
    background-color: forestgreen;
  }
#start{
    border-radius: 10px;
    font-size: 30px;
    margin: 10px;
}
.descriere{
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    text-align: center;
    color: yellow;
    background-color: green;
    position: relative;
    margin-top: 10px;

}
.categorie{
    text-align: center;
    background-color: green;
    color: yellow;
    font-size: 30px;
}